<h1>Votre personnage a été refusé</h1>

<p>
    Bonjour {{ owner.username }},
</p>

<p>
    Le nom du personnage
    <strong>{{ characterName }}</strong>
    n’a pas été accepté.
</p>

<p>
    <strong>Motif du refus :</strong>
</p>

<p>
    {{ reason }}
</p>

<p>
    Conformément aux règles de modération, ce personnage a été supprimé
    définitivement.
</p>

<p>
    Vous pouvez créer un nouveau personnage en choisissant un autre nom.
</p>

<p>
    L’équipe FantasyRealm Online
</p>
