<h1>Votre avis a été refusé</h1>

<p>
    Bonjour {{ owner.username }},
</p>

<p>
    Votre avis déposé sur le personnage
    <strong>{{ characterName }}</strong>
    n’a pas été approuvé et a été supprimé.
</p>

<p>
    L’équipe FantasyRealm Online
</p>
