<h1>Bienvenue sur FantasyRealm Online !</h1>

<p>
    Veuillez confirmer votre adresse email en cliquant sur le lien suivant :<br /><br />
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.<br /><br />
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
