{% for label, messages in app.flashes %}
    {% for message in messages %}

        <div class="container mb-4">

            <div class="alert flash flash-{{ label }} alert-dismissible fade show" role="alert">

                <div class="d-flex align-items-center">

                    <div class="flash-icon me-3">
                        {% if label == 'success' %}
                            <i class="bi bi-check-circle-fill"></i>
                        {% elseif label == 'warning' %}
                            <i class="bi bi-exclamation-circle-fill"></i>
                        {% elseif label == 'danger' %}
                            <i class="bi bi-x-circle-fill"></i>
                        {% elseif label == 'error' %}
                            <i class="bi bi-exclamation-triangle-fill"></i>
                        {% else %}
                            <i class="bi bi-info-circle-fill"></i>
                        {% endif %}
                    </div>

                    <div class="flex-grow-1">
                        {{ message }}
                    </div>

                </div>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Fermer">
                </button>

            </div>

        </div>

    {% endfor %}
{% endfor %}
